{% load static %}
{% include 'partePrincipal.html'%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>	Nuevo Torneo</title>
</head>
<body background="{% static '/imagenes/Futbolfondo1.jpg' %}">
<br>
  <font color="white"><h5 style = "Font-family: Tahoma, Verdana, Segoe, sans-serif">&nbsp Ingrese los datos del Torneo:</h5></font>
<br>
  <form class="row g-3" action="" method="POST">
    {% csrf_token %}
    <div class="col-md-4">
      <font color="white"><label class="form-label" style = "font-family: Lucida Bright, Georgia;">&nbsp Nombre</label></font>
      <h6>&nbsp {{formularioTorneo.nombre}}</h6>
    </div>
    <div class="col-md-4">
      <font color="white"><label class="form-label" style = "font-family: Lucida Bright, Georgia;">Alias</label></font>
      <h6>{{formularioTorneo.alias}}</h6>
    </div>
    <div class="col-md-4">
      <font color="white"><label class="form-label" style = "font-family: Lucida Bright, Georgia;">Numero de equipos</label></font>
      <h6>{{formularioTorneo.numeroEquipo}}</h6>
    </div>
    <div class="col-md-4">
      <font color="white"><label class="form-label" style = "font-family: Lucida Bright, Georgia;">&nbsp Descripcion</label></font>
      <h6>&nbsp {{formularioTorneo.descripcion}}</h6>
    </div>
    <div class="col-md-4">
      <font color="white"><label class="form-label" style = "font-family: Lucida Bright, Georgia;">Fecha de inicio</label></font>
      <h6>{{formularioTorneo.fechaInicio}}</h6>
    </div>
    <div class="col-md-4">
      <font color="white"><label class="form-label" style = "font-family: Lucida Bright, Georgia;">Fecha de finalizacion</label></font>
      <h6>{{formularioTorneo.fechaFin}}</h6>
    </div>
    <div class="col-md-4">
      <font color="white"><label class="form-label" style = "font-family: Lucida Bright, Georgia;">&nbsp Tipo de torneo</label></font>
      &nbsp {{formularioTorneo.tipo_Tor}}
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <input type="submit" value="Guardar" class="btn btn-primary" style = "font-family: Lucida Bright, Georgia;">
      &nbsp
      <a class="btn btn-primary" href="/torneo/" role="button" style = "font-family: Lucida Bright, Georgia;">Cancelar</a>
      &nbsp
    </div>
  </form>
<br>
<br>
<br>
<br>
<br>
<br>
&nbsp
{% include 'parteFinal.html'%}
{% block content %} {% endblock content %}
</body>

</html>
