{% load static %}
{% include 'partePrincipal.html'%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Editar Reservas</title>
</head>
<body background="{% static '/imagenes/Futbolfondo2.jpg' %}">
<br>
   <font color="white"><h5 style = "Font-family: Tahoma, Verdana, Segoe, sans-serif">&nbsp Ingrese los datos a Editar:</h5></font>
  <br>
<form class="row g-3" action="" method="POST">
  {% csrf_token %}
  <div class="col-md-4">
      <font color="white"><label class="form-label" style = "font-family: Lucida Bright, Georgia;">&nbsp Pertenece al Torneo</label></font>
      <h6>&nbsp {{form.PropiedadTorneo}}</h6>
  </div>
  <div class="col-md-4">
      <font color="white"><label class="form-label" style = "font-family: Lucida Bright, Georgia;">Nombre</label></font>
      <h6>{{form.nombre}}</h6>
  </div>
  <div class="col-md-4">
      <font color="white"><label class="form-label" style = "font-family: Lucida Bright, Georgia;">Apellido</label></font>
      <h6>{{form.apellido}}</h6>
  </div>
  <div class="col-md-4">
      <font color="white"><label class="form-label" style = "font-family: Lucida Bright, Georgia;">&nbsp Correo Electronico</label></font>
      <h6>&nbsp {{form.correo}}</h6>
  </div>
  <div class="col-md-4">
      <font color="white"><label class="form-label" style = "font-family: Lucida Bright, Georgia;">Cedula</label></font>
      <h6>{{form.cedula}}</h6>
  </div>
   <div class="col-md-4">
      <font color="white"><label class="form-label" style = "font-family: Lucida Bright, Georgia;">Estado</label></font>
      <h6>{{form.estado_Ticket}}</h6>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <input type="submit" value="Editar" class="btn btn-primary" style = "font-family: Lucida Bright, Georgia;">
      &nbsp
      <a class="btn btn-primary" href="/ticket/" role="button" style = "font-family: Lucida Bright, Georgia;">Cancelar</a>
      &nbsp
  </div>
</form> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% include 'parteFinal.html'%}
{% block content %} {% endblock content %}
</body>
</html>
