{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
   <link href="{% static '/footerr.css' %}" rel="stylesheet">
</head>
<body>
  <footer>
    <p>&copy; 2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    <p>Universidad Nacional de Loja - Loja - Ecuador</p>
    <p>Teléfono: +593 7 2547252 - (07) 2547252 (Ext: 142) <img src="https://cdn.icon-icons.com/icons2/1753/PNG/512/iconfinder-social-media-applications-23whatsapp-4102606_113811.png" width="30" height="30"></p>
    <p> E-mail: <a href="#">comunicacion@unl.edu.ec</a> <img src="https://cdn.icon-icons.com/icons2/1826/PNG/512/4202110facebooklogosocialsocialmedia-115707_115594.png" width="30" height="30"> <img src="https://cdn.icon-icons.com/icons2/1211/PNG/512/1491579542-yumminkysocialmedia22_83078.png" width="30" height="30"> <img src="https://cdn.icon-icons.com/icons2/1584/PNG/512/3721672-instagram_108066.png" width="30" height="30"></p>
  </footer>
</body>
</html>