{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link href="{% static '/footerr.css' %}" rel="stylesheet">
</head>
<body>
  <footer>
     <center><font color="white">&copy; 2021 Company, Todos los Derechos Reservados <img src="https://cdn.icon-icons.com/icons2/1753/PNG/512/iconfinder-social-media-applications-23whatsapp-4102606_113811.png" width="30" height="30"> <img src="https://cdn.icon-icons.com/icons2/1826/PNG/512/4202110facebooklogosocialsocialmedia-115707_115594.png" width="30" height="30"> <img src="https://cdn.icon-icons.com/icons2/1211/PNG/512/1491579542-yumminkysocialmedia22_83078.png" width="30" height="30"> <img src="https://cdn.icon-icons.com/icons2/1584/PNG/512/3721672-instagram_108066.png" width="30" height="30">
     </font></center> 
  </footer>
</body>
</html>
