{% load static %}
{% include 'partePrincipal.html'%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>	Informacion de Encuentros</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
 	<link href="{% static '/listado.css/' %}" rel="stylesheet">
</head>
<body background="{% static '/imagenes/Futbolfondo2.jpg' %}">
	 <br>
   <font color="white"><h5 style = "Font-family: Tahoma, Verdana, Segoe, sans-serif">&nbsp Información del Encuentro:</h5></font>
   <br>
   <div class="centrado container">
<div class="card mb-3" style="max-width: 800px;left: 15%;">
  <div class="row g-0">
    <div class="col-md-4">
        <br>
        <br>
        <img src="https://cdn.icon-icons.com/icons2/2333/PNG/512/soccer_sport_icon_142306.png" alt="..." style="width:100%">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style = "font-family: Lucida Bright, Georgia;">Detalles del Encuentro</h5>
        <p class="text-start"> 
          {% for c in form %}
          <ul class="list-group">
            <li class="list-group-item text-start" style = "font-family: Lucida Bright, Georgia;">Equipo A: {{c.nombreA}}</li>
            <li class="list-group-item text-start" style = "font-family: Lucida Bright, Georgia;">Equipo B: {{c.nombreB}}</li>
            <li class="list-group-item text-start" style = "font-family: Lucida Bright, Georgia;">Goles Equipo A: {{c.golesA}}</li>
            <li class="list-group-item text-start" style = "font-family: Lucida Bright, Georgia;">Goles Equipo B: {{c.golesB}}</li>
            <li class="list-group-item text-start" style = "font-family: Lucida Bright, Georgia;">Faltas: {{c.faltas}}</li>
            <li class="list-group-item text-start" style = "font-family: Lucida Bright, Georgia;">Tarjeta amarilla: {{c.tarjetaAmarilla}}</li>
            <li class="list-group-item text-start" style = "font-family: Lucida Bright, Georgia;">Tarjeta roja: {{c.tarjetaRoja}}</li>
          </ul>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-primary" href="/encuentro/" role="button" style = "font-family: Lucida Bright, Georgia;">Regresar</a>
    &nbsp
  </div>
<br>
{% include 'parteFinal.html'%}
{% block content %} {% endblock content %}

</body>
</html>